* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  font-family: sans-serif;
  background: url("../img/bastard-image-7.jpg") no-repeat center center/cover;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.titulo {
  width: 100%;
  margin: 20px 0;
}
.titulo h1 {
  width: 80%;
  color: white;
  font-size: 2rem;
  background-image: linear-gradient(
    270deg,
    #131e1d 0,
    #0c1312 25%,
    #000000 50%,
    #000000 75%,
    #000000 100%
  );
  margin: auto;
  text-align: center;
  padding: 20px 0;
}
@media (max-width: 850px) {
  .titulo h1 {
    font-size: 1.5rem;
  }
}
/* Navbar */

.cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.cabecalho .wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cabecalho .wrap .logo {
  font-size: 1.5rem;
  background-color: #333;
  padding: 20px;
  cursor: pointer;
}
.cabecalho .wrap .logo a {
  color: #4bb6e0;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 20px #ffffff80;
}
.cabecalho .wrap .hamburger {
  width: 40px;
  height: 35px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}
.cabecalho .wrap .hamburger div {
  background-color: #4bb6e0;
  width: 100%;
  height: 8px;
  border-radius: 5px;
}
@media (max-width: 850px) {
  .cabecalho .wrap .navbar {
    display: none;
  }
  .cabecalho .wrap .hamburger {
    display: flex;
  }
  .cabecalho .wrap .logo {
    font-size: 1rem;
    padding: 16px;
  }
}
.cabecalho .wrap .navbar .list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.cabecalho .wrap .navbar .list li a {
  transition: 200ms;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #333;
  padding: 16px;
}
.cabecalho .wrap .navbar .list li a:hover {
  color: black;
  background-color: #dadada;
}

.cabecalho .wrap .navbar-mobile {
  animation: animation-navbar-mobile 200ms;
  position: absolute;
  right: 0px;
  top: 70px;
  display: none;
  transition: 200ms;
}
@keyframes animation-navbar-mobile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cabecalho .wrap .navbar-mobile .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #222;
  width: 160px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

.cabecalho .wrap .navbar-mobile .list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #333;
  padding: 16px;
  width: 120px;
}
.cabecalho .wrap .navbar-mobile .list li a:hover {
  color: black;
  background-color: #dadada;
}

/* Seção Produto */

.bannerProduto {
  width: 100%;
  background: linear-gradient(rgba(51, 51, 51, 0.6), #4bb6e060);
  box-shadow: 0 50px 70px #4bb6e040;
  padding: 20px 0;
  margin-top: 88px;
}
@media (max-width: 850px) {
  .bannerProduto {
    margin-top: 70px;
  }
}
.bannerProduto .bannerProduto-conteiner {
  margin: auto;
  width: 80%;
  padding: 20px 0;
  background-image: radial-gradient(
    circle at 100% 0%,
    #7c5c5b 0,
    #6d5355 12.5%,
    #5b4a4c 25%,
    #483f40 37.5%,
    #333333 50%,
    #1f2725 62.5%,
    #0f1d18 75%,
    #001507 87.5%,
    #000a00 100%
  );

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bannerProduto .bannerProduto-conteiner .bastard {
  width: 80%;
  pointer-events: none;
}
.bannerProduto .bannerProduto-conteiner h2 {
  color: #4bb6e0;
  margin-top: 10px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 20px #ffffff80;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .bannerProduto .bannerProduto-conteiner h2 {
    font-size: 1.2rem;
  }
}

/* Genêros */

.genero {
  width: 100%;
}
.genero-conteiner {
  width: 80%;
  margin: auto;
  background-image: linear-gradient(
    270deg,
    #313c3b 0,
    #2b3130 25%,
    #242424 50%,
    #1d1819 75%,
    #160b10 100%
  );
  padding: 20px 0;

  display: flex;
  justify-content: space-around;
}

.genero-conteiner div {
  color: white;
  font-size: 1.2rem;
  padding: 20px;
  min-width: 100px;
  background-image: linear-gradient(
    220deg,
    #3e1e69 0,
    #070052 50%,
    #00003d 100%
  );
  border-radius: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.genero-conteiner div:hover {
  background-image: linear-gradient(
    220deg,
    #4e2e79 0,
    #170062 50%,
    #10004d 100%
  );
}

@media (max-width: 850px) {
  .genero-conteiner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .genero-conteiner div {
    width: 60%;
    font-size: 1rem;
    padding: 12px;
  }
}
/* Sinopse */

.sinopse {
  width: 100%;
}
.sinopse-conteiner {
  width: 80%;
  margin: auto;
  background-color: black;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  padding: 20px;
}
@media (max-width: 850px) {
  .sinopse-conteiner {
    font-size: 1rem;
  }
}
/* Abertura */
.abertura {
  width: 100%;
}
.abertura-conteiner {
  width: 80%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  padding: 40px 0;
}
@media (max-width: 850px) {
  .abertura-conteiner iframe {
    width: 95%;
  }
}
/* Screenshots */

.screen {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.screen-conteiner {
  width: 80%;
  display: grid;
  gap: 20px;
  padding: 40px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1360px) {
  .screen-conteiner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .screen-conteiner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .screen-conteiner {
    grid-template-columns: 1fr;
  }
}
.screen .screen-conteiner div {
  display: flex;
  box-shadow: 0 0 20px black;
}
.screen .screen-conteiner div img {
  width: 100%;
}

.rodape {
  width: 100%;
  padding: 30px;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.rodape .title {
  font-size: 24px;
  color: #4bb6e0;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 20px #ffffff80;
}
.rodape .copyright {
  font-size: 16px;
}
